* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000915 100%),
    url(../img/bg-top.jpg), lightgray 50%;
  padding-top: 217px;
  padding-left: 120px;
  padding-right: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1024px;
}

.header-text {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 789px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  max-width: 481px;
}

.text span {
  font-weight: 600;
}

.header-button {
  width: 234px;
  margin-top: 44px;
  height: 49px;
  background: #9c0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button:hover {
  background: #eb443f;
}

.games {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 128px 0;
  background-color: #000915;
  box-sizing: border-box;
  gap: 32px;
}

.game-common {
  background-repeat: no-repeat;
  background-size: contain;
  width: 343px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 16px;
}

.game1 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
    url(../img/game1.png);
}

.game2 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
    url(../img/game2.png);
}

.game3 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
    url(../img/game3.png);
}

.game-common:hover {
  border: 3px solid #44d2ff;
}

.bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 64px;
  justify-content: space-between;
  background-color: #000915;
  color: #ffffff;
  padding: 236px 120px;
  justify-content: center;
  column-gap: 135px;
}

.bottom-image {
  max-width: 485px;
}

.header-text {
  margin-bottom: 32px;
}

.seasons {
  max-width: 584px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
}

.seasons-button {
  margin-top: 0;
}

.seasons-heading {
  font-size: 48px;
  line-height: 59px;
}

.bottom-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 276px 0 288px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000915 100%),
    url(../img/bg-bottom.jpg), lightgray 50%;
}

.text-bottom {
  max-width: 1200px;
  text-align: center;
}

.footer {
  background-color: #000915;
  color: #fff;
  font-size: 12px;
  padding-top: 32px;
  padding-bottom: 33px;
  text-align: center;
}

@media (max-width: 1024px) {
  body {
    padding-right: 16px;
    padding-left: 16px;
  }

  .header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000915 100%),
      url(../img/bg-top-mob.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  .seasons {
    align-items: center;
  }

  .bottom {
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  .bottom-block {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000915 100%),
      url(../img/bg-bottom.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 238px 16px;
    text-align: center;
    align-items: center;
    gap: 33px;
    height: 735px;
    background-size: 100% 100%;
    background-position: top center;
  }

  .header-text {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 0;
  }

  .text {
    font-size: 14px;
    line-height: 22px;
    max-width: 343px;
  }

  .header-button {
    margin-top: 0;
  }

  .bottom {
    padding: 51px 10px 85px 10px;
    justify-content: center;
  }

  .bottom-words {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  .games {
    padding: 10px 0;
  }

  .seasons {
    align-items: center;
  }

  .bottom-image {
    width: 100%;
    max-width: 344px;
  }

  .seasons-heading {
    font-size: 32px;
    line-height: 39px;
  }

  .text-seasons {
    max-width: 343px;
    text-align: center;
  }

  .bottom-block {
    flex-direction: column;
    background-size: 100% 100%;
    background-position: top center;
  }
}
